/.vscode

/venv

.env

response.json

goodJobs.json

.DS_Store

*.log
__pycache__

# Dependencies
node_modules/
.parcel-cache/


# Build Output
dist/

# User Data
resume.txt

# Large Data Files
example_jobs.json

# Models (generated)
public/model.nlp
model.nlp

# Misc
*.pem
*.crx