# Dependencies
node_modules/
.parcel-cache/

# Environment
.env

# Build Output
dist/

# User Data
resume.txt

# Large Data Files
example_jobs.json

NUWorks Grader Design System/

# Models (generated)
public/model.nlp
model.nlp

# Misc
*.pem
*.crx

/venv
goodJobs.json
job_scraper.log
response.json
__pycache__/
.vscode/

dist.zip